<div class="col-span-2 hidden sm:block min-w-64">
  <ul>

    <a href="/app/preferences/account">
      <li class="mt-5 cursor-pointer border-l-2 px-2 py-2 <%= path === '/app/preferences/account' ? 'border-l-gray-900 text-gray-900 font-bold' : 'border-transparent font-semibold' %> transition hover:border-l-gray-900 hover:text-gray-900">
        Conta
      </li>
    </a>

    <a href="/app/preferences/profile">
      <li class="mt-5 cursor-pointer border-l-2 px-2 py-2 <%= path === '/app/preferences/profile' ? 'border-l-gray-900 text-gray-900 font-bold' : 'border-transparent font-semibold' %> transition hover:border-l-gray-900 hover:text-gray-900">Perfil</li>
    </a>

    <a href="/app/preferences/billing">
      <li class="mt-5 cursor-pointer border-l-2 px-2 py-2 <%= path === '/app/preferences/billing' ? 'border-l-gray-900 text-gray-900 font-bold' : 'border-transparent font-semibold' %> transition hover:border-l-gray-900 hover:text-gray-900">Pagamento</li>
    </a>

    <a href="/app/preferences/notifications">
      <li class="mt-5 cursor-pointer border-l-2 px-2 py-2 <%= path === '/app/preferences/notifications' ? 'border-l-gray-900 text-gray-900 font-bold' : 'border-transparent font-semibold' %> transition hover:border-l-gray-900 hover:text-gray-900">Notificações</li>
    </a>

  </ul>
</div>


<!-- <li class="mt-5 cursor-pointer border-l-2 border-transparent px-2 py-2 font-semibold transition hover:border-l-gray-900 hover:text-gray-900">Perfil</li> -->