<%- include('../includes/site-head.ejs') %>

<%- include('../includes/site-nav.ejs') %>

<!-- ! CONTAINER -->
<div class="container mx-auto pt-8">

  <div class="relative bg-gray-50">
    <div class="absolute bottom-0 right-0 overflow-hidden lg:inset-y-0">
      <img class="w-auto h-full" src="https://d33wubrfki0l68.cloudfront.net/1e0fc04f38f5896d10ff66824a62e466839567f8/699b5/images/hero/3/background-pattern.png" alt="" />
    </div>

    <section class="relative py-12 sm:py-16 lg:py-20 lg:pb-36">
      <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8 ">
        <div class="grid max-w-lg grid-cols-1 mx-auto lg:max-w-full lg:items-center lg:grid-cols-2 gap-y-12 lg:gap-x-8">

          <div class="relative px-4 mx-auto sm:px-6 lg:px-8 max-w-7xl">
            <div class="flex">
              <div class="w-full">
                <h1 class="text-4xl font-bold text-gray-900 sm:text-5xl">Decida para onde vai o seu dinheiro</h1>
                <p class="mt-5 text-base font-normal leading-7 text-gray-500">O goldmap é uma ferramenta online de controle e planejamento de finanças pessoais que torna fácil o gerenciamento do seu dinheiro e das estratégias de como usá-lo para ter uma boa qualidade de vida</p>

                <div class="relative inline-flex mt-10 group">
                  <div class="absolute transitiona-all duration-1000 opacity-70 inset-0 bg-gradient-to-r from-[#44BCFF] via-[#FF44EC] to-[#FF675E] rounded-xl blur-lg filter group-hover:opacity-100 group-hover:duration-200"></div>

                  <a href="/app/dashboards" title="" class="relative inline-flex items-center justify-center px-6 py-3 text-base font-bold text-white transition-all duration-200 bg-gray-900 border border-transparent rounded-lg hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900" role="button">
                    EXPERIMENTE GRÁTIS
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div>
            <img class="w-full" src="https://d33wubrfki0l68.cloudfront.net/a78a55b3add0dc26d3587d02ecc23bebc28bf5f8/67091/images/hero/5.2/illustration.png" alt="" />
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- ! END CONTAINER -->

</body>

</html>