<%- include('../includes/app-head.ejs') %>

<%- include('../includes/app-nav.ejs') %>


<!-- ! CONTAINER -->
<div class="container mx-auto pt-8">
  <!-- ? GRID -->
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 lg:gap-4">

    <!-- ? GAUGE 01 -->
    <div class="p-1 rounded-md flex items-center justify-center col-span-1">
      <div class="relative flex-1 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
        <h2 class="ml-4 mt-2 text-2xl font-semibold text-gray-800">Supermercado</h2>
        <div class="pt-0 px-0 pb-0">
          <div id="tanque01"></div>
        </div>
      </div>
    </div>

    <!-- ? GAUGE 02 -->
    <div class="p-1 rounded-md flex items-center justify-center col-span-1">
      <div class="relative flex-1 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
        <h2 class="ml-4 mt-2 text-2xl font-semibold text-gray-800">Combustível</h2>
        <div class="pt-0 px-0 pb-0">
          <div id="tanque02"></div>
        </div>
      </div>
    </div>


    <!-- ? GAUGE 03 -->
    <div class="p-1 rounded-md flex items-center justify-center col-span-1">
      <div class="relative flex-1 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
        <h2 class="ml-4 mt-2 text-2xl font-semibold text-gray-800">Farmácia</h2>
        <div class="pt-0 px-0 pb-0">
          <div id="tanque03"></div>
        </div>
      </div>
    </div>

    <!-- ? GAUGE 04 -->
    <div class="p-1 rounded-md flex items-center justify-center col-span-1">
      <div class="relative flex-1 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
        <h2 class="ml-4 mt-2 text-2xl font-semibold text-gray-800">Lazer</h2>
        <div class="pt-0 px-0 pb-0">
          <div id="tanque04"></div>
        </div>
      </div>
    </div>

    <!-- ? BAR CHART -->
    <div class="p-1 rounded-md flex items-center justify-center col-span-2">
      <div class="relative flex-1 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
        <h2 class="ml-4 mt-2 text-2xl font-semibold text-gray-800">Saldo acumulado</h2>
        <div class="pt-0 px-0 pb-0">
          <div id="bar-chart"></div>
        </div>
      </div>
    </div>

    <!-- ? LINE CHART -->
    <div class="p-1 rounded-md flex items-center justify-center col-span-2">
      <div class="relative flex-1 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
        <h2 class="ml-4 mt-2 text-2xl font-semibold text-gray-800">Fluxo</h2>
        <div class="pt-0 px-0 pb-0">
          <div id="chartLine"></div>
        </div>
      </div>
    </div>

    <!-- ? RADAR CHART 01 -->
    <div class="p-1 rounded-md flex items-center justify-center col-span-1">
      <div class="relative flex-1 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
        <h2 class="ml-4 mt-2 text-2xl font-semibold text-gray-800">Renda</h2>
        <div class="pt-0 px-0 pb-0">
          <div id="radar01"></div>
        </div>
      </div>
    </div>

    <!-- ? RADAR CHART 02 -->
    <div class="p-1 rounded-md flex items-center justify-center col-span-1">
      <div class="relative flex-1 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md ">
        <h2 class="ml-4 mt-2 text-2xl font-semibold text-gray-800 ">Despesas</h2>
        <div class="pt-0 px-0 pb-0">
          <div id="radar02"></div>
        </div>
      </div>
    </div>

    <!-- ? CANDLE CHART -->
    <div class="p-1 rounded-md flex items-center justify-center col-span-2">
      <div class="relative flex-1 flex-col rounded-xl bg-white bg-clip-border text-gray-700 shadow-md">
        <h2 class="ml-4 mt-2 text-2xl font-semibold text-gray-800">Investimentos</h2>
        <div class="pt-0 px-0 pb-0">
          <div id="investimento"></div>
        </div>
      </div>
    </div>

  </div>

</div>
<!-- ! END CONTAINER -->


<!-- ! APEXCHARTS -->
<script>
  const chartConfig = {
    series: [{
      name: "Saldo",
      data: [1030, 1530],
    }, ],
    chart: {
      type: "bar",
      height: 240,
      toolbar: {
        show: false,
      },
    },
    title: {
      show: "Saldos",
    },
    dataLabels: {
      enabled: false,
    },
    colors: ["#020617"],
    plotOptions: {
      bar: {
        columnWidth: "40%",
        borderRadius: 2,
      },
    },
    xaxis: {
      axisTicks: {
        show: false,
      },
      axisBorder: {
        show: false,
      },
      labels: {
        style: {
          colors: "#616161",
          fontSize: "12px",
          fontFamily: "inherit",
          fontWeight: 400,
        },
      },
      categories: [
        "Jan",
        "Fev",
        "Mar",
        "Abr",
        "Mai",
        "Jun",
        "Jul",
        "Ago",
        "Set",
        "Out",
        "Nov",
        "Dez"
      ],
    },
    yaxis: {
      labels: {
        style: {
          colors: "#616161",
          fontSize: "12px",
          fontFamily: "inherit",
          fontWeight: 400,
        },
      },
    },
    grid: {
      show: true,
      borderColor: "#dddddd",
      strokeDashArray: 5,
      xaxis: {
        lines: {
          show: true,
        },
      },
      padding: {
        top: 5,
        right: 20,
      },
    },
    fill: {
      opacity: 0.8,
    },
    tooltip: {
      theme: "dark",
    },
  };

  const chart = new ApexCharts(document.querySelector("#bar-chart"), chartConfig);

  chart.render();



  const configLine = {
    series: [{
      name: "Fluxo",
      data: [850, 720, 650, 620, 500, 4350, 3200, 3230, 2500, 2500, 1550, -213, -213, -213, -540, -540, -640, 542, 542, 542, 542, 342, 242, 242, 242, 102, 102, 22],
    }, {
      name: "fluxo negativo",
      data: [850, 720, 650, 620, 500, 4350, 3200, 3230, 2500, 2500, 1550, -213, null, null, null, null, -640, 542, 542, 542, 542, 342, 242, 242, 242, 102, 102, 22],
    }],
    chart: {
      type: "line",
      height: 240,
      toolbar: {
        show: false,
      },
    },
    title: {
      show: "",
    },
    dataLabels: {
      enabled: false,
    },
    colors: ["#dc2626", "#020617"],
    stroke: {
      lineCap: "square",
      curve: 'smooth',
      width: 3,
    },
    legend: {
      show: false
    },
    markers: {
      size: 0,
    },
    xaxis: {
      axisTicks: {
        show: false,
      },
      axisBorder: {
        show: false,
      },
      labels: {
        style: {
          colors: "#616161",
          fontSize: "12px",
          fontFamily: "inherit",
          fontWeight: 400,
        },
      },
      categories: [
        "01",
        "02",
        "03",
        "04",
        "05",
        "06",
        "07",
        "08",
        "09",
        "11",
        "12",
        "13",
        "14",
        "15",
        "16",
        "17",
        "18",
        "19",
        "20",
        "21",
        "22",
        "23",
        "24",
        "25",
        "26",
        "27",
        "28",
        "29",

      ],
    },
    yaxis: {
      labels: {
        style: {
          colors: "#616161",
          fontSize: "12px",
          fontFamily: "inherit",
          fontWeight: 400,
        },
      },
    },
    grid: {
      show: true,
      borderColor: "#dddddd",
      strokeDashArray: 5,
      xaxis: {
        lines: {
          show: true,
        },
      },
      padding: {
        top: 5,
        right: 20,
      },
    },
    fill: {
      opacity: 0.8,
    },
    tooltip: {
      theme: "dark",
    },
  };

  const chartLine = new ApexCharts(document.querySelector("#chartLine"), configLine);

  chartLine.render();

  // 
  // 
  // 
  // 
  var tanque01Config = {
    series: [67],
    chart: {
      height: 240,
      type: 'radialBar',
      offsetY: -10
    },
    plotOptions: {
      radialBar: {
        startAngle: -135,
        endAngle: 135,
        dataLabels: {
          show: false
        }
        // dataLabels: {
        //   name: {
        //     fontSize: '16px',
        //     color: undefined,
        //     offsetY: 120
        //   },
        // value: {
        //   offsetY: 76,
        //   fontSize: '22px',
        //   color: undefined,
        //   formatter: function(val) {
        //     return val + "%";
        //   }
        // }
        // }
      }
    },
    fill: {
      colors: ["#020617"],
    },
    stroke: {
      dashArray: 4
    },
    labels: [''],
  };

  var tanque01 = new ApexCharts(document.querySelector("#tanque01"), tanque01Config);
  tanque01.render();

  // 
  // 
  // 
  // 
  var tanque02Config = {
    series: [33],
    chart: {
      height: 240,
      type: 'radialBar',
      offsetY: -10
    },
    plotOptions: {
      radialBar: {
        startAngle: -135,
        endAngle: 135,
        dataLabels: {
          show: false
        }
        // dataLabels: {
        //   name: {
        //     fontSize: '16px',
        //     color: undefined,
        //     offsetY: 120
        //   },
        // value: {
        //   offsetY: 76,
        //   fontSize: '22px',
        //   color: undefined,
        //   formatter: function(val) {
        //     return val + "%";
        //   }
        // }
        // }
      }
    },
    fill: {
      colors: ["#020617"],
    },
    stroke: {
      dashArray: 4
    },
    labels: [''],
  };

  var tanque02 = new ApexCharts(document.querySelector("#tanque02"), tanque02Config);
  tanque02.render();


  // 
  // 
  // 
  // 
  var tanque03Config = {
    series: [90],
    chart: {
      height: 240,
      type: 'radialBar',
      offsetY: -10
    },
    plotOptions: {
      radialBar: {
        startAngle: -135,
        endAngle: 135,
        dataLabels: {
          show: false
        }
        // dataLabels: {
        //   name: {
        //     fontSize: '16px',
        //     color: undefined,
        //     offsetY: 120
        //   },
        // value: {
        //   offsetY: 76,
        //   fontSize: '22px',
        //   color: undefined,
        //   formatter: function(val) {
        //     return val + "%";
        //   }
        // }
        // }
      }
    },
    fill: {
      colors: ["#020617"],
    },
    stroke: {
      dashArray: 4
    },
    labels: [''],
  };

  var tanque03 = new ApexCharts(document.querySelector("#tanque03"), tanque03Config);
  tanque03.render();


  var tanque04Config = {
    series: [8],
    chart: {
      height: 240,
      type: 'radialBar',
      offsetY: -10
    },
    plotOptions: {
      radialBar: {
        startAngle: -135,
        endAngle: 135,
        dataLabels: {
          show: false
        }
      }
    },
    fill: {
      colors: ["#020617"],
    },
    stroke: {
      dashArray: 4
    },
    labels: [''],
  };

  var tanque04 = new ApexCharts(document.querySelector("#tanque04"), tanque04Config);
  tanque04.render();


  var polarReceitasOptions = {
    series: [80, 10, 10],
    chart: {
      width: 334,
      height: 280,
      type: 'polarArea'
    },
    labels: ['Trabalho', 'Investimentos', 'Atípica'],
    fill: {
      opacity: 1
    },
    stroke: {
      width: 1,
      colors: undefined
    },
    yaxis: {
      show: false
    },
    legend: {
      position: 'bottom',
      show: true,
      fontSize: '12px',
      fontWeight: 600,
      offsetY: -5,

    },
    plotOptions: {
      polarArea: {
        rings: {
          strokeWidth: 0
        },
        spokes: {
          strokeWidth: 2
        },
      }
    },
    theme: {
      monochrome: {
        enabled: true,
        color: '#020617',
        shadeTo: 'light',
        shadeIntensity: 0.9
      }
    }
  };

  var polarReceitas = new ApexCharts(document.querySelector("#radar01"), polarReceitasOptions);
  polarReceitas.render();


  var polarDespesasOptions = {
    series: [20, 40, 10, 25, 5],
    chart: {
      width: 334,
      height: 280,
      type: 'polarArea'
    },
    labels: ['Fonte', 'Dia dia', 'Comprometido', 'Atípico', 'Investimento'],
    fill: {
      opacity: 1
    },
    stroke: {
      width: 1,
      colors: undefined
    },
    yaxis: {
      show: false
    },
    legend: {
      position: 'bottom',
      show: true,
      fontSize: '12px',
      fontWeight: 600,
      offsetY: -5,

    },
    plotOptions: {
      polarArea: {
        rings: {
          strokeWidth: 0
        },
        spokes: {
          strokeWidth: 2
        },
      }
    },
    theme: {
      monochrome: {
        enabled: true,
        color: '#020617',
        shadeTo: 'light',
        shadeIntensity: 0.9
      }
    }
  };


  var polarDespesas = new ApexCharts(document.querySelector("#radar02"), polarDespesasOptions);
  polarDespesas.render();


  var Investimentooptions = {
    series: [{
      data: [{
          x: new Date(2023, 03, 01),
          y: [1000, 1500, 900, 1250]
        },
        {
          x: new Date(2023, 04, 01),
          y: [1250, 1550, 1250, 1400]
        },
        {
          x: new Date(2023, 05, 01),
          y: [1400, 1600, 1300, 1550]
        }, {
          x: new Date(2023, 06, 01),
          y: [1550, 1550, 1300, 1375]
        },
        {
          x: new Date(2023, 07, 01),
          y: [1375, 1375, 1000, 1100]
        },
        {
          x: new Date(2023, 08, 01),
          y: [1100, 1400, 1000, 1400]
        },
        {
          x: new Date(2023, 09, 01),
          y: [1400, 1700, 1400, 1700]
        },
        {
          x: new Date(2023, 10, 01),
          y: [1700, 2000, 1500, 1850]
        },
        {
          x: new Date(2023, 11, 01),
          y: [1850, 2200, 1850, 2050]
        },
        {
          x: new Date(2023, 12, 01),
          y: [2050, 2400, 2000, 2400]
        }, {
          x: new Date(2024, 01, 01),
          y: [2400, 2900, 2200, 2900]
        },
        {
          x: new Date(2024, 02, 01),
          y: [2900, 3150, 2900, 3100]
        }
      ]
    }],
    chart: {
      type: 'candlestick',
      height: 240,
      toolbar: {
        show: false
      }
    },
    // title: {
    //   text: 'CandleStick Chart',
    //   align: 'left',
    //   show: false,
    // },
    xaxis: {
      type: 'datetime'
    },
    plotOptions: {
      candlestick: {
        colors: {
          upward: '#020617',
          downward: '#9ca3af'
        }
      }
    },
    yaxis: {
      tooltip: {
        enabled: false
      }
    }
  };

  var Investimento = new ApexCharts(document.querySelector("#investimento"), Investimentooptions);
  Investimento.render();
</script>
<!-- ! END APEXCHARTS -->

</body>

</html>