<%- include('../includes/app-head.ejs') %>

<%- include('../includes/app-nav.ejs') %>

<div class="container mx-auto pt-8">

  <!-- ! CONTAINER -->
  <div class="container mx-auto pt-8">
    <div class="bg-white">
      <%- include('../includes/app-preferences-tab.ejs') %>
    </div>
  </div>
  <!-- ! Container -->
  </body>

  </html>